<!DOCTYPE html>
<html lang="hun">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>
    <div class="container mt-5">
        <div class="text-right"><a href="{{ url_for('logout') }}" class="btn btn-primary mb-2">Kijelentkezés</a></div>
        <a href="{{ url_for('create_feed') }}" class="btn btn-primary mb-2">Hozzáadás</a>
    <table class="table shadow">
        <thead>
            <tr>
                <th>Név</th>
                <th>Kor</th>
                <th>Ország</th>
                <th>város</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {% for feed in feeds %}
            <tr>
                <td>{{ feed.name }}</td>
                <td>{{ feed.age }}</td>
                <td>{{ feed.country }}</td>
                <td>{{ feed.city }}</td>
                <td><a href="{{ url_for('edit_feed', id = feed.id) }}" class="btn btn-primary mb-2">Szerkesztés</a></td>
                <td>
                    <form action="{{ url_for('delete_feed', id = feed.id)}}" method="post">
                        <input type="submit" value="Törlés" class="btn btn-primary mb-2">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>